body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background: #fff8f0;
  color: #222;
}

header {
  background: #006d77;
  color: white;
  text-align: center;
  padding: 2rem;
}

nav {
  background: #83c5be;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #073b4c;
}

section {
  padding: 2rem;
}

.coctel {
  background: #edf6f9;
  border-left: 6px solid #006d77;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

footer {
  background: #073b4c;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
